@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PC부 화이팅!</h1>
</div>
<div style="text-align: left; margin-left: 30%;">
    <p>LS ELECTRIC 홈 페이지 : <a href="https://www.ls-electric.com/ko"> ls-electric.com</a>.</p>
    <p>Home Page Github : <a href="https://github.com/jsootv/NetCore"> GitHub</a>.</p>
</div>
